@charset "utf-8";
@import "_var", "_mixin";

@font-face{
    font-family: gills;
    src: url("../fonts/GillSans.eot");
    src: local("※"), 
        url("../fonts/GillSans.woff") format("woff"),
        url("../fonts/GillSans.woff2") format("woff2"),
        url("../fonts/GillSans.otf") format("opentype");
}
@font-face{
    font-family: din;
    font-weight: 400;
    src: url("../fonts/DINRegular.eot");
    src: local("※"), 
        url("../fonts/DIN-Regular.woff") format("woff"),
        url("../fonts/DINRegular.woff2") format("woff2"),
        url("../fonts/DINRegular.ttf") format("truetype");
}
@font-face{
    font-family: din;
    font-weight: 600;
    src: url("../fonts/DINMedium.eot");
    src: local("※"), 
        url("../fonts/DIN-Medium.woff") format("woff"),
        url("../fonts/DINMedium.woff2") format("woff2"),
        url("../fonts/DINMedium.ttf") format("truetype");
}
@font-face{
    font-family: din;
    font-weight: 700;
    src: url("../fonts/DINBold.eot");
    src: local("※"), 
        url("../fonts/DIN-Bold.woff") format("woff"),
        url("../fonts/DINBold.woff2") format("woff2"),
        url("../fonts/DINBold.ttf") format("truetype");
}

body, h1, h2, h3, h4, h5, h6, p, ul, button{margin: 0;padding: 0;}
html, body{height: 100vh;}
h1, h2, h3, h4, h5, h6{font-size: inherit;font-weight: 400;}
ul{list-style: none;}
a:link, a:visited, a:hover, a:active{text-decoration: none;color: inherit;}
img{border: none;vertical-align: top;}
button{border: none;background: none;cursor: pointer;font-family: inherit;font-size: inherit;color: inherit;}
header, nav, section, footer{display: block;}

/* common class */
.p_r{position: relative;}
.p_a{position: absolute;}
.clearfix:after{content: "";display: block;clear: both;}
.sr-only{position: absolute;top: 0;left: -9999px;}

body{font-family: din, gills;color: $gray;}
.logo{
    font-family: gills;font-size: 30px;letter-spacing: .2em;color: $gray;
    span{font-size: 24px;letter-spacing: .05em;}
}

/* preload */
body.loaded{
    #preload{
        @include borderBox;
        visibility: visible;position: fixed;left: 0;right: 0;top: 0;bottom: 0;background: #fff;width: 100vw;height: 100vh;text-align: center;
        .loading_img{width: 270px;height: 330px;display: inline-block;margin-top: calc(50vh - 165px);}
        .logo{
            margin-top: 18px;font-size: 36px;
            span{font-size: 30px;}
        }
    }
}
#preload{visibility: hidden;z-index: 1500;}

/* header */
#header{
    position: fixed;top: 50px;height: 35px;margin: 0 100px;width: calc(100vw - 200px);z-index: 1000;
    a, span{display: inline-block;height: 30px;}
    h1, > a{position: absolute;bottom: 0;line-height: 35px;}
    h1{left: 0;z-index: 500;}
    > a{right: 0;font-size: 24px;}
}

/* content */
#content{position: relative;overflow: hidden;height: 100vh;width: 100vw;}
#aboutCover{
    position: absolute;height: 100vh;width: 100vw;right: calc(100% - 430px);left: auto;z-index: 300;background: #ffffff;
    &:before{
        content: "";position: absolute;width: 10px;height: 355px;right: 350px;bottom: 100px;background: $mint;
        &.on{height: 100%;bottom: 0;cursor: e-resize;}
    }
    #aboutBtn{
        @include transition(all .3);position: absolute;right: 80px;bottom: 95px;
        height: 360px;width: 240px;z-index: 900;outline: none;
        .about_txt{
            svg{
                width: 100%;
                .st0{fill:$lightmint;}
                .st1{fill: $mint;}
                &#hu{margin-top: 50px;margin-bottom: 20px;}
                &#arrow{
                    @include animation(blink);
                }
            }
        }
        &:hover{
            .about_txt svg .st1{fill:$lightmint;}
        }
        &.active{
            .about_txt{
                #arrow{@include transform(scaleX(-1))};
            }
        }
    }

    @include keyframes (blink) {
        from {fill: $mint;}
        to {fill: $lightmint;}
    }
    
    #about{
        width: calc(100% - 350px);height: 100%;background: $mint;z-index: 800;visibility: hidden;margin-right: 370px;
    }
}

#ability {
    position: relative;z-index: 50;
    .skill {
        position: relative;width: 100%;height: 100vh;display: flex;align-items: center;justify-content: space-between;
        >* {flex-grow: 1;}
    }

    .circle--slider {
        position: absolute;width: 100%;right: -30%;bottom: -15%;

        .rotate--circle {
            margin: 0 auto;
        }

        .circle--rotate{
            &, >li{@include radius(50%);}
            position: relative;border: 2px #999 solid;width: 50%;height: 50%;margin: 0 auto 0;transform: rotate(0deg);z-index: 0;padding: 0;
    
            >li {
                position: absolute;left: 0;top: 0;width: 100%;height: 100%;z-index: 10;visibility: hidden;
    
                div {
                    @include boxShadow(-10px 10px 25px rgba(0, 0, 0, .2));
                    @include transition (all 500ms ease);
                    position: relative;visibility: visible;height: 12%;width: 12%;border-radius: 50%;cursor: pointer;margin: -6% auto;text-align: center;overflow: hidden;font-size: 20px;color: #ffffff;overflow: visible;background-color: $lightmint;
                }
    
                &.active div {
                    @include transition (all 1s);
                    font-size: 20px;
                    background-color: $mint;
                }
            }
        }

        .count2 li:nth-child(2) {
            transform: rotate(180deg);
        }

        .count3 li {
            &:nth-child(2) {
                transform: rotate(120deg);
            }

            &:nth-child(3) {
                transform: rotate(240deg);
            }
        }

        .count4 li {
            &:nth-child(2) {
                transform: rotate(90deg);
            }

            &:nth-child(3) {
                transform: rotate(180deg);
            }

            &:nth-child(4) {
                transform: rotate(270deg);
            }
        }

        .count5 li {
            &:nth-child(2) {
                transform: rotate(72deg);
            }

            &:nth-child(3) {
                transform: rotate(144deg);
            }

            &:nth-child(4) {
                transform: rotate(216deg);
            }

            &:nth-child(5) {
                transform: rotate(-72deg);
            }
        }

        .count6 li {
            &:nth-child(2) {
                transform: rotate(60deg);
            }

            &:nth-child(3) {
                transform: rotate(120deg);
            }

            &:nth-child(4) {
                transform: rotate(180deg);
            }

            &:nth-child(5) {
                transform: rotate(240deg);
            }

            &:nth-child(6) {
                transform: rotate(-60deg);
            }
        }

        .count7 li {
            &:nth-child(2) {
                transform: rotate(51.5deg);
            }

            &:nth-child(3) {
                transform: rotate(103deg);
            }

            &:nth-child(4) {
                transform: rotate(154.5deg);
            }

            &:nth-child(5) {
                transform: rotate(206deg);
            }

            &:nth-child(6) {
                transform: rotate(-103deg);
            }

            &:nth-child(7) {
                transform: rotate(-51.5deg);
            }
        }

        .count8 li {
            &:nth-child(2) {
                transform: rotate(45deg);
            }

            &:nth-child(3) {
                transform: rotate(90deg);
            }

            &:nth-child(4) {
                transform: rotate(135deg);
            }

            &:nth-child(5) {
                transform: rotate(180deg);
            }

            &:nth-child(6) {
                transform: rotate(-135deg);
            }

            &:nth-child(7) {
                transform: rotate(-90deg);
            }

            &:nth-child(8) {
                transform: rotate(-45deg);
            }
        }

        .count9 li {
            &:nth-child(2) {
                transform: rotate(40deg);
            }

            &:nth-child(3) {
                transform: rotate(80deg);
            }

            &:nth-child(4) {
                transform: rotate(120deg);
            }

            &:nth-child(5) {
                transform: rotate(160deg);
            }

            &:nth-child(6) {
                transform: rotate(-160deg);
            }

            &:nth-child(7) {
                transform: rotate(-120deg);
            }

            &:nth-child(8) {
                transform: rotate(-80deg);
            }

            &:nth-child(9) {
                transform: rotate(-40deg);
            }
        }

        .count10 li {
            &:nth-child(2) {
                transform: rotate(36deg);
            }

            &:nth-child(3) {
                transform: rotate(72deg);
            }

            &:nth-child(4) {
                transform: rotate(108deg);
            }

            &:nth-child(5) {
                transform: rotate(144deg);
            }

            &:nth-child(6) {
                transform: rotate(-180deg);
            }

            &:nth-child(7) {
                transform: rotate(-144deg);
            }

            &:nth-child(8) {
                transform: rotate(-108deg);
            }

            &:nth-child(9) {
                transform: rotate(-72deg);
            }

            &:nth-child(10) {
                transform: rotate(-36deg);
            }
        }

        .animate-wrapper {
            border-radius: 50%;
            width: 30%;
            height: 30%;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            overflow: hidden;
        }

        .animate{
            transform: rotate3d(0, 0, 0, 0deg) scale(.85);
            transition: .55s ease-in-out;
            box-shadow: -20px 20px 50px rgba(0, 0, 0, .3);
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            opacity: 0;
            z-index: 3;
            background: $neomint;
        }

        .animate-more {
            opacity: 0;
            visibility: hidden;
            transition: all .5s .4s;
            min-width: 131px;
            overflow: hidden;
            text-align: center;
            z-index: 30;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            padding: 15px;
            height: 62px;
            transform: scale(.8);
        }

        .animate.active {
            .animate-more {
                opacity: 1;
                visibility: visible;
                transform: scale(1);
            }

            .animate-img .animate-img__in {
                opacity: 1;
                transform: scale(1);
            }
        }

    }
}

#portfolio {display: none;
    position: absolute;left: 0;right: 0;top: 0;bottom: 0;
    .scroll-slider {
        position: relative;
        overflow: hidden;
        height: 100vh;
        opacity: 0.5;
        z-index: 900;

        &:hover {
            opacity: 1;
        }

        .scroll-wrapper {
            @include borderBox;
            position: relative;
            display: flex;
            flex-wrap: nowrap;
            height: 100%;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            -ms-touch-action: pan-y;
            touch-action: pan-y;
            -webkit-tap-highlight-color: transparent;
        }
    }
}


@media all and (max-width: 1760px) {}

@media all and (max-width: 1260px) {}

@media all and (max-width: 960px) {}

@media all and (max-width: 760px) {}

@media all and (max-width: 640px) {}

@media all and (max-width: 480px) {}